 /*columns*/

.one_third { width: 29.333%; }
.two_third { width: 61.666%; }
.one_fourth { width: 21.25%; }
.three_fourth { width: 69.75%; }
.full_column { width: 94%; }
 
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.full_column {
    margin-left: 3%;
    margin-bottom: 1%;
}

ul {
  list-style-type:none;
}
 
/* clearfix */
.wrapper:before, 
.row:after {
    content: " ";
    clear: both;
    display: table;
}

.main:after {
    content: " ";
    clear: both;
    display: table;
}

header:after {
    content: " ";
    clear: both;
    display: table;
}

/* ----- mobile ----- */
 
.one_half { width: 100%; }

#top-nav ul {
    width:100%;
  height: auto; 
    margin:0 auto;
    padding:0;
}   
  #top-nav ul li {
      width: 100%;
display: block;
      padding: 3px;
      margin: auto;
    }
   
.main img {
        width:100%;
        margin-top:10px;
    float:none;
}

.name {
    font-size:3em;
    width: 94%;
    text-shadow: 2px 2px 5px #bdcbd9;
        padding: 1px;
    margin:0 auto;
    text-align:center;
    font-family: 'Seaweed Script', cursive;
}

#reception {
  font-size:.5em;
  line-height:1em;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 8px #bdcbd9;
        padding: 1px;
}

#reception a {
  text-decoration: none;
}


/*image style*/

img {
  max-width: 100%;
}

img, embed, object, video {
  max-width: 100%;
  height : auto;
}


/* -- Clearfix -- */
 .row:after {
   content: " ";
   display: table;
   clear: both;
 }
.wrapper:after {
   content: " ";
   display: table;
   clear: both;
 }
.response:after {
   content: " ";
   display: table;
   clear: both;
}


/*main header*/


header {
   height: 400px;
   background-size: cover;
   background-position: top;
   padding: 0;
    	color: white;
}
 
#pic1 {
   background: url("Seattle_3.jpg") center left no-repeat; 
   padding: 0;    
   margin: 0;
    border-bottom: 5px solid #70a0c7;
        opacity: .9;
      background-size: cover;
}

#pic2 {
    background: url("wedding.jpg") 45% 58% no-repeat; 
   padding: 0;    
   margin: 0;
       border-bottom: 5px solid #70a0c7;
           opacity: .9;
      background-size: cover;
}

/*form*/
#pic2 h2 {
    color: white;
margin: auto;    
}

.error {color: #7B482B;}

#response h2 {
  margin-bottom: 5px;
  color: #70a0c7;
  font-family: 'Raleway', sans-serif;
    margin-left:5px;
        text-decoration-style: 1px solid #bdcbd9;
}

.todo {
  margin-bottom: 10px;
  margin-top: 5px;
    text-align:center;
    color: #70a0c7;
    text-align:center;
    font-family: 'Raleway', sans-serif;
}

.todo h3 {
  text-align: center;

}

.todo a {
  text-decoration:none;
      color: #70a0c7;
}

.todo a:hover {
  border-bottom: 2px solid #70a0c7;
font-weight:bold;
}


.form {
    color: #70a0c7;
    margin-left: 5px;
    padding:10px;
}

/* Does not properly style text: */
form input[type="radio"] {
  font-size: 16px; /* Size effects bullet and padding */
    font-family: 'Raleway', sans-serif;
    color: #70a0c7;
        padding:10px;
    background-color: #bdcbd9;
}
form label {
        font-family: 'Raleway', sans-serif;
 background-color: #70a0c7;
   color: black;
    line-height: 20px;
    padding: 20px;
margin: auto;
  border: 3px solid #70a0c7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

input[type=submit] {
    border-radius:10px;
    border: 1px transparent #0c5380;
    width: 80px;
    height: 35px;
    background: #d3d3d3;
    color: #fff;
            font-family: 'Raleway', sans-serif;
     action="rsvp.php" method="POST";
}


#submit {
    margin: 10px 0px;
}
#response {
    margin-bottom: 10px;
}

.wrapper {
  width: 100%;
  height:auto;
  margin: auto;
}

.response {
        padding:1em 10em;
}
.response a {
	text-decoration: none;	
    color: white;

}
.response a:hover {
font-weight:bold;
}

#skip a {
    text-decoration:none;
     color: #70a0c7;
    font-family: 'Raleway', sans-serif;
    margin-left: 5px;
    margin-bottom:5px;
}
#skip a:hover {
border-bottom: 2px solid #70a0c7;
    font-style: strong;
}
/* full screen */

@media screen and (min-width: 800px) {

  .one_half { width:45.5%;
}

  .left {
float:left
}
.right {
float:right
}

#top-nav ul{ 
    margin:auto;
    list-style-type: none;
}


#top-nav ul li {
        min-width:24.25%;
         max-width:45.5%;
    display:inline-block;
    color: white;
  text-decoration: none;
padding: auto;
    border: 0;
    position:relative;
}

   #top-nav .btn {
 width:45.5%;
       margin-left:30px;       
    }
    
}


/* tablet size */
@media screen and (min-width: 320) {
#top-nav {
    margin: auto;
    margin-left:5ppx;
}
   
#top-nav ul{ 
    list-style-type: none;
    width:100%;
}

#top-nav ul li {
    display:inline-block;
    color: white;
  text-decoration: none;
padding: auto;
    border: 0;
    width:100%
}
   #top-nav .btn {
            width:45%;
       margin-left:20px;
    }
}

#topnav:after {
  content: "";
  display: table;
  clear: both;
}


/*body*/

.center {
  text-align: center;
}

body {
background-color:white;
    margin: 0;
    padding: 0;
}

#title {
    text-align:center;
    margin:auto:
        letter-spacing: 2px;
   font-family: 'Seaweed Script', cursive;
}

.main{
    margin: auto;
    padding: 10px;
   font-family: 'Seaweed Script', cursive;
    width:75%;
    line-height:1.5em;
}

.wrapper a {
  color: white;
  text-decoration: none;
}

.announcement {
      font-family: 'Raleway', sans-serif;
}

footer {  
  background-color: #70a0c7;
  height: 60px;
  margin-bottom: 0;
  text-align:center;
  padding: 0;
  position: relative;
  line-height:2em;
} 

footer ul li {
  margin: auto;
padding: auto;
  width: 100%;
  list-style-type: none;
}

footer a {
   color:white;
  text-decoration: none;
}

footer a:hover {
font-weight:bold;
}

 
h1 {
   column-span: all;
  -moz-column-span: all;
  -webkit-column-span: all;
}

p {
  text-align: justify;
}

/*countdown clock*/
.countdownHolder{
	width:450px;
	margin:0 auto;
	font: 40px/1.5 'Gentium Book Basic', serif;
	text-align:center;
	letter-spacing:-3px;
}

.position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.05em;
}

/*buttons*/
.btn {
font-family: 'Raleway', sans-serif;
    opacity:.7;
  background: #796466;
  background-image: -webkit-linear-gradient(top, #796466, #b85d2c);
  background-image: -moz-linear-gradient(top, #796466, #796466);
  background-image: -ms-linear-gradient(top, #796466, #796466);
  background-image: -o-linear-gradient(top, #796466, #796466);
  background-image: linear-gradient(to bottom, #0c5380, #796466);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: transparent #bdcbd9 2px;
  text-decoration: none;
}

.btn:hover {
    opacity:1;
  background: #324152;
  background-image: -webkit-linear-gradient(top, #324152, #3498db);
  background-image: -moz-linear-gradient(top, #0c5380, #324152);
  background-image: -ms-linear-gradient(top, #0c5380, #324152);
  background-image: -o-linear-gradient(top, #0c5380, #324152);
  background-image: linear-gradient(to bottom, #0c5380, #324152);
  text-decoration: none;
    border: none;
}